
*.exe
*.cache
*.Cache
*.txt
*.cache
*.suo
*.pdb
*.licx
*.licenses
*.manifest
ProcurementTrackingBalilihan/ProcurementTrackingBalilihan/obj/Debug/ProcurementTrackingBalilihan.csprojResolveAssemblyReference.cache
*.config
