<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_procurement_trackingConnection" connectionString="XpoProvider=MySql;server=localhost;user id=dev; password=dev123; database=procurement_tracking;persist security info=true;CharSet=utf8;" />
    </connectionStrings>
</configuration>